<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Attendees to Tech Events Guadalajara</title>
    <meta charset="utf-8"/>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
    	<br /><br />
        <div class="row mt-1">
            <div class="col-7">
                <h3 class="mt-2">Tech events at Guadalajara</h3>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </thead>
            <tbody>
                <tr th:each="attendee : ${attendees}">                    
                    <td th:text="${attendee.firstName}"></td>
                    <td th:text="${attendee.lastName}"></td>                    
                </tr>
            </tbody>
        </table>
        <p><a href="/" th:href="@{/}">Back to home...</a></p>
    </div>
</div>
</body>
</html>