<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Tech Events Guadalajara</title>
    <meta charset="utf-8"/>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
    	<br /><br />
        <div class="row mt-1">
            <div class="col-7">
                <h3 class="mt-2">Tech events at Guadalajara</h3>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Venue</th>
                <th scope="col">Topic</th>
                <th scope="col">Day</th>
                <th scope="col">Detais</th>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">                    
                    <td th:text="${event.name}"></td>
                    <td th:text="${event.venue}"></td>
                    <td th:text="${event.topic}"></td>
                    <td th:text="${#dates.format(event.day, 'dd-MM-yyyy')}"></td>
                    <th scope="row"><a th:href="@{'/event/' + ${event.id}}">See talks...</a></th>                    
                </tr>
            </tbody>
        </table>
        <p><a href="/" th:href="@{/}">Back to home...</a></p>
    </div>
</div>
</body>
</html>