<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" lang="en">
<head>
    <title>Eventos Tech Gdl</title>
    <meta charset="utf-8"/>
</head>
<body>
    <div layout:fragment="content">
    <br/> <br/>
        <div class="jumbotron main-content">
            <h1>Eventos Tech Guadalajara</h1>
            <p>Encuentra eventos de tecnología en el Silicon Valley mexicano</p>
        </div>
        <div class="container">
            <h4><a href="/event">Ver más...</a></h4>
        </div>
    </div>
</body>
</html>