<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" lang="en">
<head>
    <title>Tech Events Guadalajara</title>
    <meta charset="utf-8"/>
</head>
<body>
    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1 class="mt-2">Tech Events Guadalajara</h1>
            <h2>Find tech events at the Mexican Silicon Valley</h2>
            <h3 sec:authorize="isAuthenticated()">Welcome <span th:text="${username}"></span>!</h3>
            <h3 sec:authorize="isAnonymous()">Login to see events!</h3>
        </div>
        <div class="container">
            <h4><a href="/event">See more...</a></h4>
        </div>
    </div>
</body>
</html>