<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Tech Events Guadalajara</title>
    <meta charset="utf-8"/>
</head>
<body>

<div layout:fragment="content">
    <br/> <br/>
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
            	<br />
                <h3>Talks <span th:if="${event != null}"th:text="${event.name}"></span></h3>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Speaker</th>
                <th scope="col">Resume</th>
            </thead>
            <tbody>
            	<tr th:each="talk : ${talks}">
		            <td th:text="${talk.name}"></td>
		            <td th:text="${talk.speaker}"></td>
		            <td th:text="${talk.resume}"></td>
		        <tr/>
            </tbody>
        </table>
        <p><a href="/" th:href="@{/}">Back to home...</a></p>
    </div>
</div>
</body>
</html>